<section>
<div class="row">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="text-center">order placed successfully</h1>
            <a href="/orders" class="btn btn-primary mt-5">view orders</a>
        </div>
    </div>
</div>
</section>